---
import Layout from '../layouts/Layout.astro';
import LayoutNormal from '../layouts/LayoutNormal.astro';
import Header from '../components/Header.astro';
---

<LayoutNormal title="My Blog">
	<main>
        <div class="flex justify-center m-10">
            <p class="font-bold text-myname-sm sm:text-myname text-anti_atomic_3 dark:text-atomic_3 font-quirlycues">Under construction ! 👷 </p>
        </div>
	</main>
</LayoutNormal>
