---
---


<header
    class="flex flex-row-reverse mx-12 my-6"
>

    <ul class="flex gap-x-8">
        <li><a href="/" class="text-white font-bold">Home</a></li>
        <li><a href="/about" class="text-white font-bold">About</a></li>
        <li><a href="/blog" class="text-white font-bold">Blog</a></li>
    </ul>
</header>