---
import { Icon } from "astro-icon/components";
import Typeanimation from "./Typeanimation.astro";
import Animation from "../components/Animation.astro";
---

<div
    id="hero"
    class="grid grid-cols-1 sm:grid-cols-3 gap-4 text-anti_atomic_6 dark:text-atomic_6 m-4 text-base items-end"
>
    <div class="grid-cols-subgrid col-span-1 row-span-2 grid-flow-row-dense ">
        <p class=" animate-wiggle-2 ">Hello 👋 my name is</p>
        <Typeanimation
            speed="150"
            text="Hoang Dang"
            custom_class="font-bold text-myname-sm sm:text-myname text-anti_atomic_3 dark:text-atomic_3 font-quirlycues"
        />
        <p class="font-bold text-3xl">
            I build software solution and automate things <Icon
                name="ic:baseline-settings"
                class="size-10 inline animate-spin-slow "
            />
            <div class="rounded-full">
                <object
                    type="image/svg+xml"
                    data="svg/profile_animated.svg"
                    class="size-28 grayscale hover:grayscale-0"></object>
            </div>
        </p>
        <br />
        
    </div>
    <div class="row-span-1"></div>
    <div class="row-span-1"></div>

    <div class="grid grid-cols-4 gap-0 row-span-2 col-span-2 h-fit w-fit place-self-end ">
        <!-- <div class="dot"></div> -->

        <Icon
            name="line-md:chevron-triple-down"
            class="size-20 md:size-24 2xl:size-28 text-anti_atomic_2 dark:text-atomic_2 animate-pulse"
        />
        <button id="dark_light_switch">
            <div id="icon_dark_light">
                <Icon
                    name="line-md:sunny-outline-to-moon-alt-loop-transition"
                    class="size-20 md:size-24 2xl:size-28 text-gray-700 hover:text-anti_atomic_2 hover:dark:text-atomic_2 transition-all duration-300 ease-linear"
                />
            </div>
            <div id="icon_dark_light2" class="hidden">
                <Icon
                    name="line-md:moon-to-sunny-outline-transition"
                    class="size-20 md:size-24 2xl:size-28 text-gray-700 hover:text-anti_atomic_2 hover:dark:text-atomic_2 transition-all duration-300 ease-linear"
                />
            </div>
        </button>
        <Icon name="line-md:gauge-loop" class="size-20 md:size-24 2xl:size-28 text-gray-700" />
        <a href={"https://www.linkedin.com/in/hndang/"}>
        <Icon
            name="ri:linkedin-line"
            class="size-20 md:size-24 2xl:size-28 text-gray-700 hover:text-anti_atomic_2 hover:dark:text-atomic_2 "
        /></a>
        <a href={"https://github.com/hndang"}>
        <Icon name="line-md:github-loop" class="top size-20 md:size-24 2xl:size-28 text-gray-700 hover:text-anti_atomic_2 hover:dark:text-atomic_2 transition-all duration-300 ease-linear"/>
        </a>
        <Icon
            name="line-md:arrow-right"
            class="size-20 md:size-24 2xl:size-28 text-gray-700"
        />
        <a href="https://www.buymeacoffee.com/hndang">
        <Icon
            name="line-md:coffee-half-empty-twotone-loop"
            class="size-20 md:size-24 2xl:size-28 text-gray-700  hover:text-anti_atomic_2 hover:dark:text-atomic_2"
        />
    </a>
        <Icon
            name="line-md:chevron-triple-up"
            class="size-20 md:size-24 2xl:size-28 text-gray-700"
            
        />
        
    </div>
</div>

<script>
    const dark_light_switch = document.querySelector("#dark_light_switch") as HTMLButtonElement;
    const icon_dl = document.querySelector("#icon_dark_light") as HTMLElement;
    const icon_dl2 = document.querySelector("#icon_dark_light2") as HTMLElement;
    const parent = document.querySelector("#parent") as HTMLElement;
    let isDark = true; 
    console.log(icon_dl);
    console.log(icon_dl2);
        
        
    dark_light_switch.onclick = () => {
        if (isDark){
            icon_dl.style.display = "none";
            icon_dl2.style.display = "inline";
            isDark = false;
            document.documentElement.classList.remove('dark')
        }
        else{
            icon_dl2.style.display = "none";
            icon_dl.style.display = "inline";
            isDark = true;
            document.documentElement.classList.add('dark')
        }
        
    };
</script>
