---
// Software engineer
// 9 years experience
// Test automation
// Backend
// Fullstack
// Android dev
// Game dev
import FloatingText from "../components/FloatingText.astro";
import { Icon } from "astro-icon/components";
import Skills from "../components/Skills.astro";
import Project from "../components/Project.astro";
---

<div id="profile">
    <FloatingText>
        <p class="floatTextMoveL pl-10 my-[20vh]">Software engineer</p>
    </FloatingText>

    <FloatingText option="justify-end">
        <p class="floatTextMoveR pl-[10vw] my-[20vh]">9 years experiences</p>
    </FloatingText>

    <FloatingText option="justify-end">
        <p class="floatText mt-[20vh] tracking-wide text-anti_atomic_8 dark:text-atomic_8">
            Unity - Gaming
        </p>
    </FloatingText>
    <FloatingText option="justify-end">
        <a
            class="floatTextMoveR mt-[10vh] max-w-md p-3 bg-anti_atomic_3 dark:bg-atomic_3 rounded-lg shadow mb-[20vh]"
        >
            <Icon
                name="simple-icons:unity"
                class="pb-3 size-20 md:size-24 2xl:size-28 text-gray-50 dark:text-gray-800"
            />
            <p class="font-bold text-base tracking-normal text-slate-100 dark:text-slate-700">
                Senior Developer for simulation team. Worked on distributed
                rendering, test automation framework. Tool developer for Pixyz
                Software team
            </p>
        </a>
    </FloatingText>

    <FloatingText>
        <p class="floatText tracking-wide text-anti_atomic_8 dark:text-atomic_8">
            General Motors - Automotive
        </p>
    </FloatingText>
    <FloatingText>
        <a
            class="floatTextMoveL block mt-[10vh] max-w-md p-3 bg-anti_atomic_3 dark:bg-atomic_3 rounded-lg shadow mb-[20vh]"
        >
            <Icon
                name="simple-icons:generalmotors"
                class="pb-3 size-20 md:size-24 2xl:size-28 text-gray-50 dark:text-gray-800"
            />
            <p class="font-bold text-base tracking-normal text-slate-100 dark:text-slate-700">
                Software engineer in Infortainment system. Worked on automation
                framework and integration of testing hardware and software of
                vehicles
            </p>
        </a>
    </FloatingText>

    <FloatingText option="justify-end">
        <p class="floatText mt-[20vh] tracking-wide text-anti_atomic_8 dark:text-atomic_8">
            Aversan - Aviation
        </p>
    </FloatingText>
    <FloatingText option="justify-end">
        <a
            class="floatTextMoveR mt-[10vh] max-w-md p-3 bg-anti_atomic_3 dark:bg-atomic_3 rounded-lg shadow mb-[20vh]"
        >
            <Icon
                name="aversan"
                class="pb-3 size-20 md:size-24 2xl:size-28 text-gray-50 dark:text-gray-800 w-16"
            />
            <p class="font-bold text-base tracking-normal text-slate-100 dark:text-slate-700">
                Software engineer for various contract projects. Worked as code
                review for aviation software to pass certification. Built
                network and system analytic tools. Automated test for healthcare
                software
            </p>
        </a>
    </FloatingText>

    <FloatingText>
        <p class="floatTextMoveL mt-[20vh] mb-[5vh]">Technical skills</p>
    </FloatingText>
    <Skills />

    <FloatingText>
        <p class="floatTextMoveL mt-[20vh] mb-[5vh]">Current Projects</p>
    </FloatingText>
    <Project />

    <FloatingText>
        <p class="floatText mt-[20vh] mb-[5vh]">It's the end ?! 😨</p>
    </FloatingText>

    <FloatingText>
        <p class="floatTextMoveL mt-[20vh] mb-[5vh]">
            Don't worry! More will be added 😁
        </p>
    </FloatingText>

    <div class="fles justify-center">
        <div
            id="funfact"
            class=" inline cursor-pointer max-w-fit min-h-fit leading-8 bg-anti_atomic_1 dark:bg-gray-800 hover:bg-gray-100 dark:hover:bg-atomic_1 text-anti_atomic_7 dark:text-atomic_7 font-bold py-2 px-4 h-11 border-b-4 border-anti_atomic_5 dark:border-atomic_5 hover:border-anti_atomic_5 dark:hover:border-atomic_5 rounded-xl"
        >
            Funfact!
            <span id="funfact-text" class="hidden text-anti_atomic_2 dark:text-atomic_2">
                I have always avoid web development but it's been fun designing and
                coding this site
            </span>
        </div>

    </div>

</div>

<script>
    const cards = document.querySelectorAll(
        ".floatText, .floatTextMoveR, .floatTextMoveL",
    );
    const rootmargin_height = screen.height * 0.1;
    let observer_option = {
        threshold: 0,
        rootMargin: `-${rootmargin_height}px`,
    };
    const observer = new IntersectionObserver((entries) => {
        entries.forEach((entry) => {
            entry.target.classList.toggle("show", entry.isIntersecting);
        });
    }, observer_option);
    cards.forEach((card) => {
        observer.observe(card);
    });

    import { typing } from "../scripts/typewrite.ts";

    const tFunfact = document.querySelector("#funfact-text") as HTMLElement;
    const bFunfact = document.querySelector("#funfact") as HTMLElement;
    let isClick = false;
    bFunfact.onclick = () => {
        if (!isClick) {
            tFunfact.style.display = "inline";
            typing(tFunfact, 50);
            isClick = !isClick;
        }
    };
</script>

<style>
    .floatTextMoveL.show,
    .floatTextMoveR.show,
    .floatText.show {
        transform: translateX(0);
        opacity: 1;
    }

    .floatText {
        opacity: 0;
        transition: 2s;
    }

    .floatTextMoveL {
        transform: translateX(20vw);
        opacity: 0;
        transition: 2s;
    }
    .floatTextMoveR {
        transform: translateX(-20vw);
        opacity: 0;
        transition: 2s;
    }
</style>
