---

import Typeanimation from "./Typeanimation.astro";
import { Image } from "astro:assets";
import chatbotImg from "../media/chat-bot.gif"
import FloatingText from "../components/FloatingText.astro";
---


<div class="flex flex-col gap-3">
    <FloatingText>
        <p class="floatTextMoveL mt-[20vh] mb-[5vh]">Current Projects</p>
    </FloatingText>
<div class=" grid grid-col-1 m-2 sm:grid-cols-2" >
    <div class="text-anti_atomic_8 dark:text-atomic_8 m-2"> <h2 class="text-4xl p-3">Ai chat bot for language learning</h2>
        <p class="text-anti_atomic_2 dark:text-atomic_2 text-lg"> I developed this project with FastAPI backend and vanilla js frontend. The LLM model is with chatGPT and the voice models are a mixed of several model</p>
        <p class="text-anti_atomic_2 dark:text-atomic_2 text-lg"> Check out the <a class="font-bold text-atomic_8 dark:text-anti_atomic_8" href="https://chatdemo.hoangdang.dev/"> DEMO</a> ! 🤖</p>
    </div>
    <div>
        <Image src={chatbotImg} alt="Project: AI Chat bot language learning" />

    </div>
       
</div>
