---
interface Props {
    text: string;
    speed: string;
    custom_class?: string;
}

const { text, speed, custom_class} = Astro.props;
const blink = custom_class + " "
---

<span id="typing" class={custom_class} type-text = {text}  type-speed= {speed}>

</span>

<span id="cursor" class={blink}>_</span>

<script>
var elem = document.querySelector('#typing') as HTMLElement;
var cursor = document.querySelector('#cursor') as HTMLElement;

let text = elem.getAttribute('type-text')
let speed = elem.getAttribute('type-speed')

if(text == null){ text = ""}
if(speed == null){ speed = "1000"}

typing(text, speed)

function typing(text:string, speed:string, i=0){
    if (i<text.length){
        elem.textContent += text[i];
        setTimeout(()=>typing(text,speed, i+1), Number(speed))
    }else{
        cursor.remove()
    }
}

// function deleting(text,speed, time){

// }

</script>